
@font-face
	font-family: 'Din'
	src: url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),url('../fonts/PFDinTextCompPro-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Din'
	src: url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),url('../fonts/PFDinTextCompPro-Bold.woff') format('woff')
	font-weight: 900
	font-style: bold

@font-face
	font-family: 'Din'
	src: url('../fonts/PFDinTextCompPro-Italic.woff2') format('woff2'),url('../fonts/PFDinTextCompPro-Italic.woff') format('woff')
	font-weight: 400
	font-style: italic

@font-face
	font-family: 'Roboto'
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),url('../fonts/Roboto-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),url('../fonts/Roboto-Bold.woff') format('woff')
	font-weight: 700
	font-style: bold