-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Подробная',
			'href':'item'
		},
		{
			'name':'Список',
			'href':'list'
		},
		{
			'name':'Поиск',
			'href':'search'
		},
		{
			'name':'404',
			'href':'404'
		}
	]

